{% extends "base.html" %}

{% block app_content %}

<h1>This is our DTP project</h1>
<h3>
    Problem Statement: How might we help countries predict the impact of various societal changes 
    (economic/political/geographical/sanitation) on the prevalence of domestic food instability? 
</h3>
<h4 class="text-primary">
    Data Collection  
</h4>
<p>
    For this project, the World Bank database was used as a primary source to source for relevant predictor 
    variables, due to its reliability compared to other organisations as well as the extensive amount of data 
    that it stores. This held true for all variables used for this project except for one (latitude), which was 
    referenced from a Kaggle dataset. Since latitude  
</p>

{% endblock %}  