{% extends "base.html" %}

{% block app_content %}

<h1>Welcome to {{title}}</h1>
<p>
	Predict the state of food insecurity of a nation, 
    given their GDP per capita and % of population with basic handwashing facilities
</p>
<div class="col-lg-4">
    <label for="var" class="form-label">GDP per capita, PPP</label>
    <input for="var" class="form-control" id="var" placeholder="21020" name="num1">
    <label for="var" class="form-label">People with basic handwashing facilities including soap and water</label>
    <input for="var" class="form-control" id="var" placeholder="61" name="num2">
	<div id="sorted">...</div>
	<button class="btn btn-secondary" onclick="library.function1()">prediction</button>
</div>
{% endblock %}