{% extends "base.html" %}

{% block app_content %}

<h1>Welcome to {{title}}</h1>
<p>
	Predict changes in food insecurity of a nation, 
	given changes to their GDP per capita and/or % of population with basic handwashing facilities 
</p>
<div class="col-lg-4">
    <label for="var" class="form-label">GDP per capita, PPP</label>
    <input for="var" class="form-control" id="var" placeholder="16553" name="num1">
    <label for="var" class="form-label">People with basic handwashing facilities including soap and water</label>
    <input for="var" class="form-control" id="var" placeholder="75" name="num2">
    <label for="var" class="form-label">Change in GDP per capita, PPP</label>
    <input for="var" class="form-control" id="var" placeholder="12036" name="num3">
    <label for="var" class="form-label">Change in people with basic handwashing facilities including soap and water</label>
    <input for="var" class="form-control" id="var" placeholder="5" name="num4">
	<div id="sorted">...</div>
	<button class="btn btn-secondary" onclick="library.function2()">prediction</button>
</div>
{% endblock %}
