{% extends "base.html" %}

{% block app_content %}

<h1>10.020 Design Thinking Project III Modelling Uncertainty Final Report </h1>

<h2 class="text-primary">
    Introduction: 
</h2>
<p>
    Background Information: The challenges of food insecurity and safety have always 
    been pervasive and continue to persist on a global level, and their exacerbation 
    is seemingly skyrocketing in the future. With an estimate of 783 million people 
    facing hunger in 2022, more must be done to not only mitigate but potentially 
    eradicate the issue entirely. 
</p>
<p>
    Food insecurity issues have been demonstrated to disproportionately affect those 
    living in low/middle income countries, whose governments may not have sufficient 
    resources to support them amidst domestic/international crises. As such, there is 
    a real and relevant need to assist these low/middle income countries in alleviating 
    hunger within their populations, and understand the factors that are contributing 
    to this issue. 
</p>
<p>
    Problem Statement: How might we predict the impact of various societal changes 
    (economic / political / geographical / sanitation) on the prevalence of domestic 
    food instability for countries of low and middle income groups, in order to help 
    relevant stakeholders to make more informed decisions in resolving the situation? 
</p>
<p>
    In this project, we aspire to seek for the best models that can effectively 
    predict the impact of various societal changes (x-variables) on the prevalence of 
    domestic food instability faced by the low/middle income nations (y-variable), 
    through multiple linear regression.  
</p>
<h2 class="text-primary">Methodology </h2>
<h5 class="text-primary">Dependent Variable Selection </h5>
<p>
    Prevalence of moderate or severe food insecurity in the population (%) – 
    (SN.ITK.MSFI.ZS)1: From our problem statement, we define our target variable to be 
    the prevalence of domestic food instability, a clear indicator of a nation's food security 
    as elucidated in our introduction. Such a statistic is well represented by the prevalence 
    of moderate/severe food insecurity in the population, a variable supplied by World Bank data. 
</p>
<p>
    Prevalence of moderate or severe food insecurity in the population (%) – (SN.ITK.MSFI.ZS)1: 
    We define the prevalence of domestic food insecurity to be the dependent variable, measured 
    as a percentage of the population. Food security is a human right and affects the quality 
    of life of people adversely. By making this our dependent variable, we will be able to study 
    how to control other variables to change this prevalence to a desirable percentage.  
</p>
<h5 class="text-primary">Predictor Selection </h5>
<p>
    From our problem statement, we have 4 broad categories for our predictor variables: the 
    state of a country’s economic, political, geographical and sanitation situations 
    respectively. We further divide the economic state of a country into two sub-categories: 
    macroeconomic and microeconomic, creating a total of 5 categories for our desired predictor 
    variables to fall into. The categories, their accompanying features, as well as our rationale 
    for their selection are as follows: 
</p>
<p>
    Macroeconomic (GDP per capita - 'NY.GDP.PCAP.CD')2: The Gross Domestic Product (GDP) per 
    capita refers to the total monetary value of all finished goods and services produced within a 
    country’s geographical border in a specific period, divided by the population of the country 
    to account for different population sizes across different countries. GDP can be used as an 
    indicator for a country’s economic performance since more goods and services being produced 
    leads to the creation of more jobs and hence people having more spending power. Accounting for 
    this factor provides an insight to people’s ability to have access to nutritious food, as with 
    higher spending power, citizens can afford to purchase more nutritious food whether imported 
    or locally produced.  
</p>
<p>
    Microeconomic (GDP per capita, adjusted for PPP - 'NY.GDP.PCAP.PP.CD')3: In contrast to GDP 
    per capita, GDP per capita (PPP) takes into consideration the purchasing power of citizens in 
    their respective countries. A country where there is high purchasing power can thus be considered 
    to have an inflated GDP per capita as compared to a country with low purchasing power; as citizens 
    in the former would be able to purchase much more goods for a fixed sum of money than citizens 
    in the latter. Accounting for these factors provides a reliable insight into the cost of living 
    across the globe: with a lower cost of living, individuals would find it easier to purchase 
    basic necessities for themselves such as food and water. Consequently, a greater proportion of 
    the nation would have reliable economic access to food, boosting the food security of the population. 
</p>
<p>
    Geographical (Latitude - 'LATITUDE')4: Climate change has been acknowledged to pose significant 
    threats to supply chains and food security, disrupting harvest seasons and destroying crops. The 
    prevalence of such effects across the globe has been associated with one's latitude: higher latitudes 
    are exposed to greater warming effects, while tropical regions are more exposed to erratic 
    weather phenomena, such as hurricanes and typhoons. 
</p>
<p>
    Political (Political Stability and Absence of Violence/Terrorism: Percentile Rank - 'PV.PER.RNK')5: 
    The recent Ukraine-Russia war has demonstrated the impact a country's political situation can have on 
    food security, both domestically and globally: as a result of the ongoing conflict, Ukraine's supplies 
    of wheat have dropped sharply, significantly disrupting global supply chains, making it logistically 
    and financially much more expensive for countries to maintain a steady supply of wheat to its people. 
    Our selected feature for this category is a clear indicator of a country's political stability, 
    making it an appropriate choice for exploring the impact of civil unrest, war, and terrorism on a 
    nation's food security. 
</p>
<p>
    Sanitary (People with basic handwashing facilities including soap and water (% of population) - 
    'SH.STA.HYGN.ZS')6: Sanitation is closely linked to food security: without clean facilities and food 
    handling techniques, food would be more prone to rot, making it harder for a country to maintain a 
    reliable supply of food for its citizens. Basic handwashing facilities are essential to ensuring 
    that both citizens and workers handle food with utmost care, preserving its nutritional value while 
    minimising their exposure to bacteria and germs. By improving such facilities, food safety is boosted, 
    enhancing food security in the process. 
</p>
<h5 class="text-primary">Data Collection </h5>
<p>
    Source: For consistency, the data selected for our target and various features were all taken from the 
    same time period (2021), which was chosen due to 1. its recency, and 2. the relatively wider amount of 
    data available, relative to the years preceding and following it (2020 and 2022 respectively). For 
    this project, the World Bank database was used as a primary source for relevant features, due to its 
    reliability compared to other organisations as well as the extensive amount of data that it stores. 
    This held true for all variables used for this project except for one (latitude), which was referenced 
    from a Kaggle dataset. Since the latitude of every country is constant and well defined, such a decision 
    can be determined to be inconsequential on the accuracy of our analysis. 
</p>
<p>
    Assembly/Cleaning: The preliminary dataset was then assembled by taking the 2021 column of each feature 
    (excluding latitude, which is time-independent), as well as 3 other categorical descriptors (Country Code, 
    Country Name and Income Group) and merging them side by side. This produced a dataset of 8 columns (4 
    features + 1 target + 3 descriptors) and 262 rows, although data was missing to various extents for each 
    column. Additionally, a second preliminary dataset was created using the latitude Kaggle dataset, which 
    used different naming conventions from the World Bank. The World Bank preliminary dataset was conditionally 
    filtered in Excel to obtain only rows with complete values, before being conditionally merged with the 
    Kaggle dataset to form our final dataset of 62 countries. 
</p>
<p>
    Outliers: While outliers were present in our target and features, we considered the presence of these 
    outliers to be essential to our analysis, in order to account for the natural variability in the 
    economic/geographic/political/sanitary situations of each country. Furthermore, the number of outliers was 
    small compared to the overall sample size, and thus was deemed to not pose a significant threat to the overall 
    accuracy of our data analysis. 
</p>
{% endblock %}  